<h1>Check ça les cocktails</h1>
<p><%= link_to "Ajouter un cocktail", new_cocktail_path%></p>

<% @cocktails.each do |cocktail| %>
  <%= cocktail.name %>
  <%= link_to cocktail.name, cocktail_path(cocktail) %>
<% end %>
